/*** Error ***/

.Error {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px auto 139px;

    & h1 {
        color: #FF6060;
        font-size: 288px;
        font-weight: 700;
        margin: 139px auto 0;
    }

    & h2 {
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
        margin-top: 139px;
    }

    &__back-home {
        color: #FF6060;
        font-size: 18px;
        font-weight: 500;
        text-decoration-line: underline;
        margin-top: 139px;
    }
}