/*** Card ***/
.Card {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    width: 340px;
    height: 340px;
    border-radius: 10px;

    &__img {
        object-fit: cover;
        height: 75%;
        border-radius: 10px 10px 0px 0px;
    }

    &__title {
        color: $color-kasa-red;
        margin: 20px 10px;
    }
}